<div id="index">
    <h1>Welcome to LOG.com </h1>
    <p>Veillez faire un choix</p>

    <div id="choice">
        <%= link_to "s'inscrire", new_auth_path %>
        <%= link_to "se connecter", new_login_path %>
    </div>
</div>

