// Place all the styles related to the Auths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    font-family:"Gill Sans", sans-serif ;
}

#index{
    font-size: large;
    text-align: center;
}
#choice{
    font-size: large;
}

#title{
    text-align: center;
}

.connect{
    text-align: center;
}

